@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

h3,
h2,
.card-body {
  font-family: "Staatliches", cursive;
}
.cardWidth {
  width: 13rem !important;
  height: 11rem !important;
  border-radius: 1rem !important;
  object-fit: cover !important;
}
.fullCard {
  width: 16rem !important;
  height: 19rem !important;
  border: 1px solid #ccc !important;
  border-radius: 1rem !important;
  padding: 1rem !important;
}
